<div class="company">
<p id="notice"><%= notice %></p>

<strong>Name:</strong>
<h1><%= @company.name %></h1>

<ul class="actions">
  <li><%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %></li><br>
  </ul>

<%= render 'phone_numbers/phone_numbers', :phone_numbers => @company.phone_numbers %>

<ul class="actions">
  <li><%= link_to 'Add phone number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company')%></li>
</ul>

<%= render 'email_addresses/email_addresses', :email_addresses => @company.email_addresses %>

<ul class="actions">
  <li><%= link_to 'Add email address', new_email_address_path(contact_id: @company.id, contact_type: 'Company')%></li>
</ul>
</div>

