<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> <br>

<%= render 'phone_numbers/phone_numbers' %>

<%= link_to 'Add phone number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company')%>

<ul>
<% @company.email_addresses.each do |email| %>
  <li><%= email.address %> <%= link_to('edit email address', edit_email_address_path(email))%> | <%= link_to 'delete email address', email_address_path(email.id), :method => 'delete' %></li>
<% end%>
</ul>

<%= link_to 'Add email address', new_email_address_path(contact_id: @company.id, contact_type: 'Company')%>

